<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-2 social-icon">
            <a href="https://github.com/sbeltran10" target="_blank"><img src="icons/github-logo.png" alt="github" /></a>
        </div>
        <div class="col-md-2 social-icon">
            <a href="https://www.linkedin.com/in/santiago-beltr%C3%A1n-caicedo-17b144115?trk=nav_responsive_tab_profile_pic" target="_blank"><img src="icons/linkedin.png" alt="linkedin" /></a>
        </div>
        <div class="col-md-2 social-icon">
            <a href="https://www.facebook.com/santiago.beltrancaicedo" target="_blank"><img src="icons/facebook.png" alt="facebook" /></a>
        </div>
        <div class="col-md-2 social-icon">
            <a href="https://twitter.com/SantGrink" target="_blank"><img src="icons/twitter.png" alt="twitter" /></a>
        </div>
    </div>
    <div class="row first-contact contact">
        <div class="col-md-3"></div>
        <div class="col-md-1" id="contacto-lbl"></div>
        <div class="col-md-5">sbeltrancaicedo@gmail.com, s.beltran10@uniandes.edu.co</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row contact">
        <div class="col-md-4"></div>
        <div class="col-md-5 cellphone">(+57) 311 8133630</div>
        <div class="col-md-3"></div>
    </div>
</div>