<div id="content-intereses">
    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <span id="intereses-descripcion"></span>
                </div>
                <div class="fea">
                    <div class="col-md-4 interes-col">
                        <div class="heading pull-right">
                            <span id="t-interes1"></span>
                            <span id="c-interes1"></span>
                        </div>
                        <div class="fea-img pull-left">
                            <img src="icons/browser.png" alt="web development" />
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-4 interes-col">
                        <div class="heading pull-right">
                            <span id="t-interes2"></span>
                            <span id="c-interes2"></span>
                        </div>
                        <div class="fea-img pull-left">
                            <img src="icons/smartphone.png" alt="mobile development" />
                        </div>
                    </div>
                </div>
                <div class="fea">
                    <div class="col-md-4 interes-col">
                        <div class="heading pull-right">
                            <span id="t-interes3"></span>
                            <span id="c-interes3"></span>
                        </div>
                        <div class="fea-img pull-left">
                            <img src="icons/milky-way.png" alt="astronomy" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>